// Core variables and mixins
@import '../../../assets/stylesheets/core';

.button{
  display: inline-block;
  font-family: $font-base;
  font-weight: 400;
  font-size: rem(13px);
  line-height: rem(26px);
  border: 1px solid map-get($colors, 'purple');
  background-color: transparent;
  color: map_get($colors, 'purple');
  padding: rem(8px 20px);
  text-transform: uppercase;
  @include border-radius(rem(2px));
  margin: rem(0 5px 0 0);
  text-decoration: none;
  letter-spacing: rem(1px);
  text-align: center;
  @include tab-focus();
  vertical-align: middle;

  &:hover, &:focus{
    text-decoration: none;
  }
}

.button--primary {
  background-color: map-get($colors, 'purple');
  border-color: map_get($colors, 'purple');
  color: map_get($colors, 'white');
}

.button--block{
  display: block;
  width: 100%;
}

.button--icon{
  font-size: rem(20px);
  padding: 9px 10px;
  height: rem(44px);
  
  [class^="icon-"], [class*=" icon-"] {
    font-size: rem(20px);
    line-height:rem(24px);
  }
  
}

.button.disabled, .button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}