.button {
  display: inline-block;
  font-family: "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  border: 1px solid #727272;
  background-color: transparent;
  color: #3F3F3F;
  padding: 0.5rem 1.25rem;
  text-transform: uppercase;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
  margin: 0 0.3125rem 0 0;
  text-decoration: none;
  letter-spacing: 0.0625rem;
  text-align: center;
  outline: 0 none;
  outline: 0 none -webkit-focus-ring-color;
  outline-offset: 0;
  vertical-align: middle; }
  .button:hover, .button:focus {
    text-decoration: none; }

.button--primary {
  background-color: #3F3F3F;
  border-color: #3F3F3F;
  color: #FFFFFF; }

.button--block {
  display: block;
  width: 100%; }

.button--icon {
  font-size: 1.25rem;
  padding: 9px 10px;
  height: 2.75rem; }
  .button--icon [class^="icon-"], .button--icon [class*=" icon-"] {
    font-size: 1.25rem;
    line-height: 1.5rem; }

.button.disabled, .button:disabled {
  cursor: not-allowed;
  opacity: 0.3; }
